{% extends "base.html" %}
{% block content %}
    <h1 class="mb-3">Collections by {{ user.username }} ({{ threads.total }}) </h1>
    {% for thread in threads.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + thread.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('account.user_threads', username=thread.author.username) }}">{{ thread.author.username }}</a>
              <small class="text-muted">{{ thread.date_threaded.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('thread.get_thread', thread_id=thread.id) }}">{{ thread.title }}</a></h2>
            <p class="article-content">{{ thread.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in threads.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if threads.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('account.user_threads', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('account.user_threads', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}